body {
    /*background-image: url('/public/cesped.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #013a1c, #389c67);
    color: white;
    font-family: 'Segoe UI', sans-serif;
}